// Mixin for PNNL Brand Identity Colors
// All colors can be used in 80%, 70%, 60%, 50%, and 40% opacity levels

// Base Colors
$copper: #D57500;
$silver: #707276;
$bronze: #A83C0F;
$gold: #F1AB00;
$onyx: #242424;
$platinum: #B2B3B5;

// Research Directorate Colors
$emerald: #007229; // Energy and Environment
$sapphire: #003698; // Fundamental and Computational Sciences
$ruby: #C10435; // National Security

// Management System Colors
$topaz: #007FAC; // Business
$amethyst: #4A207E; // Operational
$garnet: #8A0752; // Organizational Development

// National Scientific User Facility Colors
$emsl-green: #719500;