meta(name='viewport', content='user-scalable=0, initial-scale=1.0')
meta(content='yes', name='apple-mobile-web-app-capable')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
// iPhone 
link(href='img/ETR_App_Icon_57x57.png', sizes='57x57', rel='apple-touch-icon-precomposed')
link(href='img/ETR_Splash_screen_320x460.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
// iPhone (Retina) 
link(href='img/ETR_App_Icon_114x114.png', sizes='114x114', rel='apple-touch-icon-precomposed')
link(href='img/ETR_Splash_screen_640x920.png', media='(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
// iPhone 5 
link(href='img/ETR_Splash_screen_640x1096.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
// iPad 
link(href='img/ETR_App_Icon_72x72.png', sizes='72x72', rel='apple-touch-icon-precomposed')
link(href='img/ETR_Splash_screen_768x1004.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
link(href='img/ETR_Splash_screen_748x1024.png', media='(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)', rel='apple-touch-startup-image')
