#home.page
  .page-header
    h1 PNNL <small>Sample/Demo Single Page App</small>

  p Built by <a href="http://twitter.com/henrikjoreteg">Henrik Joreteg</a> of <a href="http://andyet.com">&yet</a> in the style of <a href="http://humanjavascript.com">human javascript</a>
