#links.page
  .page-header
    h1 Helpful Resources

  ul
    li
      a(href="http://andyet.com") &yet
      |  - The team behind this work
    li
      a(href="http://backbonejs.org") Backbone.js
      |  - Official Backbone Documentation
    li
      a(href="http://underscorejs.org") underscore.js
      |  - Official Underscore Documentation
    li
      a(href="http://humanjavascript.com") human javascript
      |  - The book (this site, soon to include lots more)
    li
      a(href="https://github.com/henrikjoreteg/human-view") human-view
      |  - The Backbone View extension used in this demo
    li
      a(href="https://github.com/henrikjoreteg/human-model") human-model
      |  - The Backbone Model (more explicit) extension used in this demo
